* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --blue: #00aeef;
  --bodyBg: #f6f5f2;
  --tag: #b2e3f9;
  --black: #121212;
}
body {
  background-color: var(--bodyBg);
}
header {
  height: 45px;
  width: 100%;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
#logo {
  width: 235px;
  height: 22px;
  margin-left: 1em;
}
nav {
  width: 750px;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: white;
}
nav li a {
  font-size: inherit;
  color: inherit;
}
.socialNav {
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 7em;
}
main {
  height: 340px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.7em;
}
main .content {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: grey;
}
main .contentArea {
  width: 95%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
main .col1 {
  width: 530px;
  height: 300px;
  color: white;
}
h1 {
  font-size: 56px;
  line-height: 56px;
  font-weight: 400;
}
main .col2 {
  width: 250px;
  height: 275px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main .row {
  width: 250px;
  height: 75px;
}
#tag {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: var(--tag);
  text-transform: uppercase;
}
p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}
.featured {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--black);
}
.featured .col1 {
  width: 150px;
  height: 175px;
}
#facebookBg {
  background-image: url(https://sm.mashable.com/t/mashable_pk/news/f/facebook-t/facebook-to-acquire-giphy-for-400-million_tbcj.300.jpg);
  background-position: center;
}
#laptopBg {
  background-image: url(https://sm.mashable.com/t/mashable_pk/news/a/apple-now-/apple-now-lists-2013-macbook-air-and-2014-macbook-pro-as-vin_baje.300.jpg);
  background-position: center;
}
#netflixBg {
  background-image: url(https://sm.mashable.com/t/mashable_pk/news/n/netflix-st/netflix-starts-to-bring-streaming-quality-back-to-normal_jrwt.300.jpg);
  background-position: center;
}
.featured .col2 {
  width: 245px;
  height: 130px;
  background-repeat: no-repeat;
  background-position: center;
}
#safariBg {
  background-image: url(https://sm.mashable.com/t/mashable_pk/photo/default/58ba398a5857b_v1d8.200.jpg);
}
#chromeBg {
  background-image: url(https://sm.mashable.com/t/mashable_pk/news/g/googles-ch/googles-chrome-browser-will-block-battery-draining-data-guzz_xdgb.200.png);
}
#sleepingBg {
  background-image: url(https://sm.mashable.com/t/mashable_pk/photo/default/source_k6v4.200.gif);
  background-size: cover;
}
section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
section .whatsNew {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
}
.whatsNew img {
  width: 85px;
  height: 75px;
  padding-left: 1em;
}
.whatsNew .row {
  width: 300px;
  height: 104px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 1em;
}
.whatsNew h3 {
  width: 184px;
  height: 60px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
#heading {
  font-size: 15px;
  line-height: 60px;
  font-weight: 600;
}
.whatsRising {
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whatsRising .row {
  width: 345px;
  height: 355px;
  background-color: white;
  margin-bottom: 1em;
}
.whatsRising img {
  width: 345px;
  height: 230px;
}
.whatsRising h1 {
  height: auto;
  font-size: 28px;
  line-height: 30px;
  font-weight: 400;
  margin: 1em 1em 1em 1em;
}
.whatsHot {
  width: 620px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whatsHot .row {
  width: 560px;
  height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
}
.whatsHot .row img {
  width: 100%;
  height: 350px;
  position: relative;
}
.whatsHot .row .content {
  height: 135px;
  width: 520px;
  background-color: yellow;
  position: absolute;
  top: 980px;
}
footer {
  height: 170px;
  width: 100%;
}
